<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.pay.mapper.TradeMerchantMapper">

    <resultMap id="BaseResultMap" type="com.boot.pay.domain.TradeMerchant">
            <id property="id" column="id" />
            <result property="merchantNo" column="merchant_no" />
            <result property="merchantName" column="merchant_name" />
            <result property="merchantType" column="merchant_type" />
            <result property="appKey" column="app_key" />
            <result property="appSecret" column="app_secret" />
            <result property="status" column="status" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,merchant_no,merchant_name,merchant_type,app_key,app_secret,
        status,create_time,update_time
    </sql>
</mapper>
