<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.boot.pay.mapper.PayPaymentOrderMapper">

    <resultMap id="BaseResultMap" type="com.boot.pay.domain.PayPaymentOrder">
            <id property="id" column="id" />
            <result property="paymentNo" column="payment_no" />
            <result property="merchantId" column="merchant_id" />
            <result property="orderNo" column="order_no" />
            <result property="userId" column="user_id" />
            <result property="amount" column="amount" />
            <result property="status" column="status" />
            <result property="expireTime" column="expire_time" />
            <result property="payTime" column="pay_time" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="merchantPaymentNo" column="merchant_payment_no" />
            <result property="channelId" column="channel_id" />
            <result property="clientIp" column="client_ip" />
            <result property="subject" column="subject" />
            <result property="description" column="description" />
            <result property="notifyUrl" column="notify_url" />
            <result property="returnUrl" column="return_url" />
            <result property="attach" column="attach" />
            <result property="timeoutExpire" column="timeout_expire" />
            <result property="closeTime" column="close_time" />
            <result property="closeReason" column="close_reason" />
            <result property="feeAmount" column="fee_amount" />
            <result property="settleAmount" column="settle_amount" />
            <result property="settleStatus" column="settle_status" />
            <result property="settleTime" column="settle_time" />
            <result property="sign" column="sign" />
    </resultMap>

    <sql id="Base_Column_List">
        id, payment_no, merchant_id, order_no, user_id, amount,
        status, expire_time, pay_time,
        create_time, update_time, merchant_payment_no, channel_id,
        client_ip, subject, description,
        notify_url, return_url, attach,
        timeout_expire, close_time, close_reason,
        fee_amount, settle_amount, settle_status, settle_time, sign
    </sql>
</mapper>
